@import "vars";

body {
    background-color:white;
    text-align: center;
}
.title{
   margin-top: 50px;
  margin-bottom: 10px;
}
.form{
padding-right: 50px;
}
.article{
  margin-top: 50px;
  margin-left: 30%;
}